// Define a profile of config to run the workflow in a customized way
profiles {

  // This profile sets the number of cpus that can be allocated to the process instance to 1
  // and sets the number of instances that can be executed in parallel to 1
  cpu_1 {
    process.maxForks = 1
    process.cpus = 1
  }

  // This profile sets the number of cpus that can be allocated to the process instanc to 1
  // and sets the number of instances that can be executed in parallel to 2
  cpu_2 {
    process.maxForks = 2
    process.cpus = 1
  }

  // This profile sets the number of cpus that can be allocated to the process instanc to 1
  // and sets the number of instances that can be executed in parallel to 4
  cpu_4 {
    process.maxForks = 4
    process.cpus = 1
  }
}
